.right-content {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;

  .project_inner {
    padding-bottom: 60px !important;
    height: 100% !important;

    @media screen and (max-width: 600px) {
      margin-top: 10px;
    }
  }

  .project {
    height: 100vh;
    padding-top: 80px;
    @media screen and (max-width: 600px) {
      height: 100%;
    }
    &_items {
      list-style-type: none;
      color: var(--white-color);
      @include flexbox();
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;

      &:hover > .items_list:not(:hover) {
        opacity: 0.5;
      }

      .inline {
        @include flexbox();
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 60px;
        .lf_area {
          svg {
            fill: var(--white-color);
            width: 40px;
          }
        }

        .rt_area {
          svg {
            fill: var(--white-color);
            width: 20px;
          }
        }
      }

      .items_list {
        background-color: #0f0f0f;
        padding: 40px;
        margin-bottom: 15px;
        flex: 0 0 50%;
        max-width: 49%;
        min-height: 250px;
        // margin-right: 10px;
        @include transition(0.25s ease-in-out);
        @media screen and (max-width: 600px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
        &:hover {
          @include transition(0.25s ease-in-out);
          transform: translateY(-2%);

          .title_sm {
            color: var(--white-color);
            @include transition(0.25s ease-in-out);
          }
        }
        @include border-radius(2px);
        .title_sm {
          font-size: em(13px);
          font-weight: lighter;
          // color: var(--white-color);
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .project_link {
          color: var(--white-color);
          font-size: 30px;
          line-height: 32px;
          font-weight: 500;
          text-transform: upper;
          // text-transform: uppercase;
          text-decoration: none;
        }

        .btn {
          background-color: transparent;
          padding: 0;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
          color: var(--white-color);
          text-transform: uppercase;
        }
      }

      .thumbnail-girafi {
        &:hover {
          background: #2655d0;
          background: -moz-linear-gradient(top, #0084ff 0%, #2655d0 100%);
          background: -webkit-linear-gradient(top, #0084ff 0%, #2655d0 100%);
          background: linear-gradient(to bottom, #0084ff 0%, #2655d0 100%);
          @include transition(0.25s ease-in-out);
        }
      }
      .thumbnail-war {
        &:hover {
          background: #CC3843;
        }
      }
      .thumbnail-talentoso {
        &:hover {
          background: linear-gradient(to right, #ee5b50 0%, #d55bb0 100%);
        }
      }
      .thumbnail-qaraad {
        &:hover {
          background: #ffa500;
        }
      }
    }
  }


  // Experience
  .experience-body {
    margin-top: 0px;
    height: 100vh;
    padding-top: 80px;

    @media screen and (max-width: 767px) {
      height: 100%;
    }

    .nav-pills {
      .nav-link {
        font-size: 14px;
        font-weight: 500;
        @include border-radius(0);
        &:hover {
          color: var(--white-color);
        }
      }

      .active {
        background-color: transparent;
        border-left: 2px solid var(--white-color);
      }
    }

    .tab-content {
      .tab-pane {
        .head-pane {
          font-size: 15px;
          font-weight: bold;
          text-align: left;
          color: var(--white-color);
          margin-bottom: 6px;
          text-transform: uppercase;

          span {
            display: block;
          }

          .lg_title {
            font-size: 13px;
          }

          .nr_title {
            margin-bottom: 6px;
            font-size: 17px;
            text-transform: uppercase;
          }
        }

        .date {
          font-size: em(14px);
          font-weight: 500;
          margin-bottom: 10px;
          display: inline-block;
          color: #949495;
        }

        .exp-list {
          display: block;
          list-style-type: none;
          position: relative;
          .item {
            margin-bottom: 7px;
            font-size: 14px;
            position: relative;
            text-align: left;
            padding-left: 15px;
            color: #949495;
            &:last-of-type {
              margin-bottom: 0;
            }
            &:before {
              content: "▹";
              position: absolute;
              left: 0px;
              color: #949495;
            }
          }
        }
      }
    }

    .skills_content {
      margin-top: 40px;
      h4 {
        font-size: em(17px);
        font-weight: 500;
        color: var(--white-color);
        text-align: left;
        position: relative;
        margin-bottom: 30px;
      }

      .skill_list {
        list-style-type: none;
        // display: block;
        @include flexbox();
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        max-width: 400px;

        li {
          color: #949495;
          font-size: em(14px);
          text-align: left;
          position: relative;
          margin-bottom: 6px;
          flex: 0 0 50%;
          padding-left: 20px;

          &:before {
            content: "▹";
            position: absolute;
            left: 0px;
            color: #949495;
          }
        }
      }
    }
  }

}
// contact
.contact-content {
  padding: 50px 0;
  margin: 0;
  width: 100%;
  position: relative;
  height: 100vh;

  @media screen and (max-width: 767px) {
    height: auto;
  }


  .title {
    p {
      font-size: 16px;
      text-align: left;
      line-height: 28px;
      position: relative;
      display: block;
      visibility: visible;
      font-weight: lighter;
    }

    .inline_contact {
      margin-top: 60px;
      .email {
        h5 {
          color: var(--white-color);
          text-align: left;
          position: relative;
          font-size: 25px;
          font-weight: lighter;
          margin-bottom: 10px;
        }
        a {
          background-color: transparent;
          border-color: none;
          color: var(--white-color);
          font-size: 16px;
          font-weight: lighter;
          text-align: center;
          position: relative;
          // padding: 12px 40px;
          padding: 0;
          @include border-radius(0);
          // margin-top: 60px;
          text-transform: lowercase;

          &:hover {
            &:after {
              // background-color: rgba(255, 255, 255, 1);
              width: 100%;
              @include transition(0.25s ease-in-out);
            }
          }


          &:before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.4);
            @include position(absolute, null, 0, 0, 0);
          }
          &:after {
            content: '';
            width: 0%;
            height: 1px;
            background-color: rgba(255, 255, 255, 1);
            @include position(absolute, null, 0, 0, 0);
            @include transition(0.25s ease-in-out);
          }
        }
      }
    }
  }
}


// fixed
.fixed_social {
  position: absolute;
  // bottom: 30px;
  bottom: 1%;
  // transform: translateY(-50%);
  left: 0;

  @media screen and (max-width: 1200px) {
    position: relative;
    margin-top: 60px;
  }

  // &:after {
  //   content: '';
  //   position: absolute;
  //   height: 80%;
  //   width: 2px;
  //   background: rgba(255, 255, 255, 0.6);
  //   bottom: -87%;
  //   right: 50%;
  // }

  ul {
    list-style-type: none;
    text-align: center;
    @include flexbox();
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .soc_profile {
      .profile_image {
        width: 40px;
        height: 40px;
        @include border-radius(100px);
      }
    }


    li {
      margin-bottom: 15px;
      margin-right: 20px;
      @media screen and (max-width: 600px) {
        margin-right: 10px;
      }
      a {
        font-size: 17px;
        @include transition(0.25s ease-in-out);
        position: relative;
        display: block;
        text-decoration: none;
        @media screen and (max-width: 600px) {
          font-size: 13px;
        }

        &:before {
          content: '';
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.4);
          @include position(absolute, null, 0, 2px, 0);
          @include transition(0.25s ease);
        }

        &:hover {
          color: var(--white-color);
          transform: translateY(-10%);
          @include transition(0.25s ease-in-out);

          &:before {
            width: 0;
            @include transition(0.25s ease);
          }
        }
      }
    }
  }
}
