@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}

:root {
    // Font Ubuntu
    --ubuntu-regular: 'Ubuntu-Regular';
    --ubuntu-medium: 'Ubuntu-Medium';
    --ubuntu-light: 'Ubuntu-Light';
    --ubuntu-bold: 'Ubuntu-Bold';
    // Color Variable
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-color: #222222;
    --darking-color: #0B0C10;
    --purple-color: #4b3fd4;
    --blueDark-color: #1084fa;
    --lightpink-color: #f6e5fe;
    --pink-color: #fe838e;
    --orange-color: rgb(209, 84, 55);
    --blue-color: #66FCF1;
}

// I aim for a fresh and modern websites combining design,
// micro-interactions,
// playful animations and flat illustrations,
// a way to enrich a brand’s visual language and create bespoke digital experience to the companies. I’m thinker and problem solver,
// always learning new design stuff and enjoy coding.
