@charset "UTF-8";
@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}
:root {
  --ubuntu-regular: "Ubuntu-Regular";
  --ubuntu-medium: "Ubuntu-Medium";
  --ubuntu-light: "Ubuntu-Light";
  --ubuntu-bold: "Ubuntu-Bold";
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-color: #222222;
  --green-color: #05DE99;
  --darking-color: #0B0C10;
  --purple-color: #4b3fd4;
  --blueDark-color: #1084fa;
  --lightpink-color: #f6e5fe;
  --pink-color: #fe838e;
  --orange-color: rgb(209, 84, 55);
  --blue-color: #66FCF1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -ms-border-box;
}
*:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -ms-border-box;
}

.btn {
  cursor: pointer;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Gothic A1, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
  overflow-x: hidden;
  background-color: var(--black-color);
  cursor: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent;
  text-decoration: none;
  cursor: none !important;
}
a:hover {
  cursor: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

::-webkit-selection {
  background-color: var(--green-color);
  color: var(--white-color);
}

::-moz-selection {
  background-color: var(--green-color);
  color: var(--white-color);
}

::selection {
  background-color: var(--green-color);
  color: var(--white-color);
}

.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}
.heading {
  margin-bottom: 40px;
}
.heading h2 {
  font-size: 100px;
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
  color: var(--white-color);
  position: relative;
  display: block;
  visibility: visible;
  line-height: 110px;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .heading h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  .heading h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 451px) and (max-width: 600px) {
  .heading h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 450px) {
  .heading h2 {
    font-size: 30px;
    line-height: 30px;
  }
}
.heading h2 span {
  display: block;
}
.heading h2 .head-one {
  text-align: right;
}
.heading h2 .head-two {
  text-align: left;
}

.text-down {
  color: #949495;
}

.mt80 {
  margin-top: 80px;
}
@media screen and (max-width: 600px) {
  .mt80 {
    margin-top: 0;
  }
}

.mt-80 {
  margin-top: -80px;
}
@media screen and (max-width: 600px) {
  .mt-80 {
    margin-top: 0;
  }
}

.mt-60 {
  margin-top: -60px;
}
@media screen and (max-width: 600px) {
  .mt-60 {
    margin-top: 0;
  }
}

.mh-0 {
  min-height: 0 !important;
}

.sticky-position {
  position: sticky !important;
  top: 60px !important;
}

.background-transparent {
  background-color: transparent !important;
}

body .cursor {
  pointer-events: none;
}

body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}

body .cursor__ball circle {
  fill: #f7f8fa;
}

.svg-txt-filled {
  fill: #000;
  stroke: #000;
  stroke-width: 2px;
}

.svg-txt-stroked {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.circle-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
}
.circle-cursor--outer {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  z-index: 12000;
  opacity: 0.5;
}
.circle-cursor--inner {
  width: 5px;
  height: 5px;
  left: -2.5px;
  top: -2.5px;
  z-index: 11000;
  background: #fff;
}

.main-personal {
  margin: 0;
  width: 100%;
  position: relative;
  display: inline-block;
}

.back_homepage a {
  color: var(--white-color);
  text-decoration: none;
  position: fixed;
  top: 30px;
  left: 30px;
  padding: 10px 14px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  z-index: 9999;
}
@media screen and (max-width: 600px) {
  .back_homepage a {
    left: 15px;
    position: relative;
  }
}
.back_homepage a:before {
  content: "";
  border: 1px solid var(--white-color);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 100%;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.back_homepage a .icon {
  padding-right: 10px;
}
.back_homepage a span {
  display: inline-block;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.back_homepage a .text {
  opacity: 0;
}
.back_homepage a:hover:before {
  width: 100%;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.back_homepage a:hover .text {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  opacity: 1;
}

.left-content {
  color: var(--white-color);
  width: 100%;
  position: relative;
  padding-right: 70px;
  height: 90vh;
}
@media screen and (max-width: 1024px) {
  .left-content {
    padding-top: 80px;
    height: 100%;
    padding-right: 10px;
  }
}
.left-content .head {
  font-size: 3.75em;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  position: relative;
  display: block;
  margin-bottom: 20px;
  line-height: 60px;
}
@media screen and (max-width: 600px) {
  .left-content .head {
    font-size: 2.5em;
    line-height: 50px;
  }
}
.left-content p {
  font-size: 0.9375em;
  font-weight: lighter;
  margin-bottom: 16px;
  line-height: 28px;
}
@media screen and (max-width: 1300px) {
  .left-content .main-navigation {
    display: none;
  }
}
.left-content .main-navigation .nav-block {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}
.left-content .main-navigation .nav-block .nav-item {
  counter-increment: item 1;
  position: relative;
  display: inline-block;
}
.left-content .main-navigation .nav-block .nav-item:hover .tracking-wide {
  color: var(--white-color);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.left-content .main-navigation .nav-block .nav-item:hover .line-wide {
  background-color: var(--white-color);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 48px;
}
.left-content .main-navigation .nav-block .nav-item span {
  display: inline-block;
}
.left-content .main-navigation .nav-block .nav-item .tracking-wide {
  font-size: 13px;
  padding-right: 10px;
}
.left-content .main-navigation .nav-block .nav-item .line-wide {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 28px;
  background-color: #949495;
  position: relative;
  height: 0.6px;
  bottom: 4px;
  margin-right: 10px;
}
.left-content .main-navigation .nav-block .nav-item .nav-link {
  padding-left: 0;
  display: inline-block;
  font-size: 0.8125em;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.left-content .main-navigation .nav-block .nav-item .nav-link:hover {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  color: var(--white-color);
}
.left-content .main-navigation .nav-block .nav-item .active .tracking-wide {
  color: var(--white-color);
}
.left-content .main-navigation .nav-block .nav-item .active .line-wide {
  width: 48px;
}
.left-content .main-navigation .nav-block .nav-item .active .text-wide {
  color: var(--white-color);
}

.right-content {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}
.right-content .project_inner {
  padding-bottom: 60px !important;
  height: 100% !important;
}
@media screen and (max-width: 600px) {
  .right-content .project_inner {
    margin-top: 10px;
  }
}
.right-content .project {
  height: 100vh;
  padding-top: 80px;
}
@media screen and (max-width: 600px) {
  .right-content .project {
    height: 100%;
  }
}
.right-content .project_items {
  list-style-type: none;
  color: var(--white-color);
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.right-content .project_items:hover > .items_list:not(:hover) {
  opacity: 0.5;
}
.right-content .project_items .inline {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}
.right-content .project_items .inline .lf_area svg {
  fill: var(--white-color);
  width: 40px;
}
.right-content .project_items .inline .rt_area svg {
  fill: var(--white-color);
  width: 20px;
}
.right-content .project_items .items_list {
  background-color: #0f0f0f;
  padding: 40px;
  margin-bottom: 15px;
  flex: 0 0 50%;
  max-width: 49%;
  min-height: 250px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media screen and (max-width: 600px) {
  .right-content .project_items .items_list {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.right-content .project_items .items_list:hover {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform: translateY(-2%);
}
.right-content .project_items .items_list:hover .title_sm {
  color: var(--white-color);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.right-content .project_items .items_list .title_sm {
  font-size: 0.8125em;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.right-content .project_items .items_list .project_link {
  color: var(--white-color);
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  text-transform: upper;
  text-decoration: none;
}
.right-content .project_items .items_list .btn {
  background-color: transparent;
  border: 1px solid var(--green-color);
  padding: 12px 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--green-color);
  text-transform: uppercase;
}
.right-content .project_items .thumbnail-girafi:hover {
  background: #2655d0;
  background: -moz-linear-gradient(top, #0084ff 0%, #2655d0 100%);
  background: -webkit-linear-gradient(top, #0084ff 0%, #2655d0 100%);
  background: linear-gradient(to bottom, #0084ff 0%, #2655d0 100%);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.right-content .project_items .thumbnail-war:hover {
  background: #CC3843;
}
.right-content .project_items .thumbnail-talentoso:hover {
  background: linear-gradient(to right, #ee5b50 0%, #d55bb0 100%);
}
.right-content .project_items .thumbnail-qaraad:hover {
  background: #ffa500;
}
.right-content .experience-body {
  margin-top: 0px;
  height: 100vh;
  padding-top: 80px;
}
@media screen and (max-width: 767px) {
  .right-content .experience-body {
    height: 100%;
  }
}
.right-content .experience-body .nav-pills .nav-link {
  font-size: 14px;
  font-weight: 500;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.right-content .experience-body .nav-pills .nav-link:hover {
  color: var(--white-color);
}
.right-content .experience-body .nav-pills .active {
  background-color: transparent;
  color: var(--green-color);
  border-left: 2px solid var(--green-color);
}
.right-content .experience-body .tab-content .tab-pane .head-pane {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: var(--white-color);
  margin-bottom: 6px;
  text-transform: uppercase;
}
.right-content .experience-body .tab-content .tab-pane .head-pane span {
  display: block;
}
.right-content .experience-body .tab-content .tab-pane .head-pane .lg_title {
  font-size: 13px;
  color: var(--green-color);
}
.right-content .experience-body .tab-content .tab-pane .head-pane .nr_title {
  margin-bottom: 6px;
  font-size: 17px;
  text-transform: uppercase;
}
.right-content .experience-body .tab-content .tab-pane .date {
  font-size: 0.875em;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  color: #949495;
}
.right-content .experience-body .tab-content .tab-pane .exp-list {
  display: block;
  list-style-type: none;
  position: relative;
}
.right-content .experience-body .tab-content .tab-pane .exp-list .item {
  margin-bottom: 7px;
  font-size: 14px;
  position: relative;
  text-align: left;
  padding-left: 15px;
  color: #949495;
}
.right-content .experience-body .tab-content .tab-pane .exp-list .item:last-of-type {
  margin-bottom: 0;
}
.right-content .experience-body .tab-content .tab-pane .exp-list .item:before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #949495;
}
.right-content .experience-body .skills_content {
  margin-top: 40px;
}
.right-content .experience-body .skills_content h4 {
  font-size: 1.0625em;
  font-weight: 500;
  color: var(--white-color);
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}
.right-content .experience-body .skills_content .skill_list {
  list-style-type: none;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  max-width: 400px;
}
.right-content .experience-body .skills_content .skill_list li {
  color: #949495;
  font-size: 0.875em;
  text-align: left;
  position: relative;
  margin-bottom: 6px;
  flex: 0 0 50%;
  padding-left: 20px;
}
.right-content .experience-body .skills_content .skill_list li:before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green-color);
}

.contact-content {
  padding: 50px 0;
  margin: 0;
  width: 100%;
  position: relative;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .contact-content {
    height: auto;
  }
}
.contact-content .title p {
  font-size: 16px;
  text-align: left;
  line-height: 28px;
  position: relative;
  display: block;
  visibility: visible;
  font-weight: lighter;
}
.contact-content .title .inline_contact {
  margin-top: 60px;
}
.contact-content .title .inline_contact .email h5 {
  color: var(--white-color);
  text-align: left;
  position: relative;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.contact-content .title .inline_contact .email a {
  background-color: transparent;
  border-color: none;
  color: var(--white-color);
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  position: relative;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  text-transform: lowercase;
}
.contact-content .title .inline_contact .email a:hover:after {
  width: 100%;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.contact-content .title .inline_contact .email a:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.contact-content .title .inline_contact .email a:after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.fixed_social {
  position: relative;
  left: 0;
  margin-top: 30px;
}
.fixed_social h5 {
  color: var(--white-color);
  text-align: left;
  position: relative;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 15px;
}
@media screen and (max-width: 1200px) {
  .fixed_social {
    position: relative;
    margin-top: 60px;
  }
}
.fixed_social ul {
  list-style-type: none;
  text-align: center;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.fixed_social ul .soc_profile .profile_image {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.fixed_social ul li {
  margin-bottom: 15px;
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .fixed_social ul li {
    margin-right: 10px;
  }
}
.fixed_social ul li a {
  font-size: 17px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--white-color);
}
@media screen and (max-width: 600px) {
  .fixed_social ul li a {
    font-size: 13px;
  }
}
.fixed_social ul li a:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
.fixed_social ul li a:hover {
  color: var(--white-color);
  transform: translateY(-10%);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.fixed_social ul li a:hover:before {
  width: 0;
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}

/*# sourceMappingURL=style.css.map */
