@use "../utilities/import" as *;

.certification {
  padding: 144px 40px 80px;
  position: relative;
  width: 100%;
  display: block;

  @media (max-width: 767.98px) {
    padding: 64px 24px 64px;
  }

  h5 {
    // font-family: $font-family-primary;
    @include font(18px, 500, 150%, normal);
    margin-bottom: 10px;

    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 1px;
      background-color: rgb(78, 81, 87);
      margin-right: 10px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
  }

  p {
    margin: 0;
    @include font(16px, 400, 28px, normal);
    color: rgb(183, 187, 199);
    color: $color-dark-muted;
    // margin-top: 15px;

    &.bold {
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      color: theme-color("white");
    }
  }

  &__inner {
    @include flexbox(column, flex-start, flex-start, wrap);
    gap: 20px;
    width: 100%;
  }

  &__list {
    width: 100%;
    padding-left: 0;
  }

  &__link {
    width: 100%;
    color: theme-color("white");
    text-decoration: none !important;
    transition: color 0.2s ease;
    @include font(16px, 400, 28px, normal);
    @include flexbox(row, space-between, center, wrap);
    gap: 20px;
    width: 100%;
    cursor: pointer;
    // padding-bottom: 20px;

    &.disabled {
      justify-content: flex-start;
      gap: 5px;
      pointer-events: none;
    }

    &:hover {
      color: theme-color("info");
      text-decoration: underline;
    }

    svg {
      @include size(20px, 20px);
      //   color: theme-color("white");
      line-height: 0;
      @include transition(all, 0.3s, ease);
    }

    span {
      flex: 1;
    }

    &:hover {
      svg {
        rotate: 45deg;
      }
    }
  }

  &__wrap {
    position: relative;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 120px;

    @media (min-width: 768px) and (max-width: 991.98px) {
      gap: 40px;
    }

    @media (max-width: 767.98px) {
      gap: 64px;
      flex-direction: column;
    }
  }

  &__right {
    flex: 1 1 0;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 36px;

    @media (max-width: 767.98px) {
      width: 100%;
    }
  }

  &__left {
    max-width: 280px;
    width: 100%;

    @media (min-width: 768px) {
      position: sticky;
      top: 40px;
    }

    .eyebrow {
      margin-top: 8px;
    }
  }

  &__item {
    @include flexbox(column, flex-start, flex-start, wrap);
    gap: 20px;
    width: 100%;

    &:not(:last-of-type) {
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      margin-bottom: 30px;
    }

    &-text {
      margin: 0;
      @include font(16px, 400, 28px, normal);
      color: rgb(183, 187, 199);
      color: $color-dark-muted;
      //   margin-top: 15px;
    }
  }

  &__designation {
    @include font(18px, 400, 150%, normal);
    margin: 0;
  }

  &__status {
    @include font(16px, 400, 150%, normal);
    margin: 0;
    color: $color-dark-muted;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 5px;
  }
}
