@use "../utilities/import" as *;

.experience {
  padding: 144px 40px 80px;
  position: relative;
  width: 100%;
  display: block;

  @media (max-width: 767.98px) {
    padding: 64px 24px 64px;
  }

  h3 {
    font-family: $font-family-primary;
    @include font(24px, 400, 150%, normal);
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    @include font(16px, 400, 28px, normal);
    color: rgb(183, 187, 199);
    color: $color-dark-muted;
    margin-top: 15px;

    &.bold {
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      color: theme-color("white");
    }
  }

  // a {
  //   background-color: $color-white;
  //   @include border-radius(100px);
  //   color: $color-black;
  //   text-align: center;
  //   position: relative;
  //   @include inline-flexbox(row, center, center);
  //   text-decoration: none;
  //   @include transition(all, 300ms);

  //   &:hover {
  //     background-color: $color-light;
  //     color: $color-black;
  //   }
  // }

  .button-wrap {
    margin-top: 30px;
  }

  &__inner {
    @include flexbox(column, flex-start, flex-start, wrap);
    gap: 60px;

    @media (max-width: 479.98px) {
      gap: 30px;
    }
  }

  &__wrap {
    position: relative;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 120px;

    @media (min-width: 768px) and (max-width: 991.98px) {
      gap: 40px;
    }

    @media (max-width: 767.98px) {
      gap: 64px;
    }
  }

  &__right {
    flex: 1 1 0;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 36px;
  }

  &__left {
    max-width: 280px;
    width: 100%;

    @media (min-width: 768px) {
      position: sticky;
      top: 40px;
    }

    .eyebrow {
      margin-top: 8px;
    }
  }

  &__item {
    @include flexbox(column, flex-start, flex-start, wrap);
    gap: 5px;
    width: 100%;

    &:not(:last-of-type) {
      padding-bottom: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      @media (max-width: 479.98px) {
        margin-bottom: 30px;
      }
    }
  }

  &__designation {
    @include font(18px, 400, 150%, normal);
    margin: 0;
  }

  &__status {
    @include font(16px, 400, 150%, normal);
    margin: 0;
    color: $color-dark-muted;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 5px;
  }
}
