@use "../utilities/import" as *;

.footer {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  display: block;

  @media (max-width: 767.98px) {
    padding: 2rem 24px;
  }

  p {
    margin-bottom: 0;
  }

  &__wrap {
    @include flexbox(row, space-between, center, wrap);

    @media (max-width: 479.98px) {
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
    }
  }

  &__text {
    @extend %fs-16-normal;
  }

  &__content {
    text-align: center;
    margin: 3rem 0;
    @include flexbox(column, flex-start, center);
    gap: 35px;

    h3 {
      @include font(6.25rem, 500, 100%, normal);
      position: relative;
      margin-bottom: 0;

      @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 5rem;
      }

      @media (max-width: 767.98px) {
        font-size: 3.5rem;
      }

      @media (max-width: 479.98px) {
        font-size: 2.5rem;
      }
    }

    // a {
    //   background-color: $color-white;
    //   @include border-radius(100px);
    //   color: $color-black;
    //   text-align: center;
    //   position: relative;
    //   @include inline-flexbox(row, center, center);
    //   text-decoration: none;
    //   @include transition(all, 300ms);

    //   &:hover {
    //     background-color: $color-light;
    //     color: $color-black;
    //   }
    // }
  }

  .socials {
    &__list {
      @include flexbox(row, center, center, wrap);
      gap: 1rem;
      list-style: none;
      padding-left: 0;

      a {
        color: $color-text;
        @extend %fs-16-normal;
        text-decoration: none;
        position: relative;

        &:hover:before {
          @include size(100%, 1px);
        }

        &:before {
          content: "";
          @include set-position(absolute, null, 0, -3px, 0);
          @include size(0, 1px);
          background-color: $color-dark-text;
          @include transition();
        }
      }
    }
  }
}
