@use "../utilities/import" as *;

.hero {
  padding: 192px 40px 80px;
  position: relative;
  width: 100%;
  display: block;

  @media (max-width: 767.98px) {
    padding: 64px 24px 64px;
  }

  h1 {
    font-family: $font-family-primary;
    @include font(64px, 400, 72px, normal);
    margin: 0;
  }

  p {
    margin: 0;
    @include font(18px, 400, 28px, normal);
    color: rgb(183, 187, 199);

    span {
      display: inline-block;
      animation: wave-animation 2.5s infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }

    &.bold {
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      color: theme-color("white");

      @media (max-width: 767.98px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  &__wrap {
    position: relative;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 120px;

    @media (min-width: 768px) and (max-width: 991.98px) {
      gap: 40px;
    }

    @media (max-width: 767.98px) {
      gap: 64px;
      flex-direction: column;
    }
  }

  &__content {
    flex: 1 1 0;
    @include flexbox(row, flex-start, flex-start, wrap);
    gap: 36px;

    &-left {
      max-width: 280px;
      width: 100%;
    }
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
