@use "../utilities/import" as *;

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;

  .not-found__code {
    font-size: 25rem;
    font-weight: bold;
    // font-family: $font-family-primary;
    // margin-bottom: 20px;
    color: theme-color("white");
  }

  .not-found__message {
    font-size: 1rem;
    // margin-bottom: 30px;
    margin-bottom: 0;
    color: theme-color("white");
    text-transform: uppercase;
    letter-spacing: 0.2px;
  }

  .button-wrap {
    margin-top: 30px;
  }

  //   .not-found__button {
  //     @include button-style(primary);
  //     font-size: 1rem;
  //     padding: 10px 20px;
  //     text-decoration: none;
  //   }
}
