@font-face {
    font-family: 'Michroma';
    src: url('Michroma-Regular.eot');
    src: url('Michroma-Regular.eot?#iefix') format('embedded-opentype'),
        url('Michroma-Regular.woff2') format('woff2'),
        url('Michroma-Regular.woff') format('woff'),
        url('Michroma-Regular.ttf') format('truetype'),
        url('Michroma-Regular.svg#Michroma-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

