@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../utilities/border" as *;
@use "../utilities/import" as *;
// ------------------------------------
// Buttons
// ------------------------------------

.button {
  --c-light: #fff;
  --glass-reflex-light: 1;
  --glass-reflex-dark: 1;

  --c-dark: #000;
  --c-glass: #bbbbbc;
  --saturation: 150%;

  // @include button-style(theme-color("primary"));
  color: #fff;
  font-weight: $font-weight-semibold;
  font-size: 1rem;
  padding: spacer(3) spacer(4);
  @include border-radius(100px);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none !important;
  position: relative;

  backdrop-filter: blur(8px) url(#switcher) saturate(var(--saturation));
  -webkit-backdrop-filter: blur(8px) saturate(var(--saturation));
  box-shadow: inset 0 0 0 1px
      color-mix(
        in srgb,
        var(--c-light) calc(var(--glass-reflex-light) * 10%),
        transparent
      ),
    inset 1.8px 3px 0px -2px color-mix(in srgb, var(--c-light)
          calc(var(--glass-reflex-light) * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, var(--c-light)
          calc(var(--glass-reflex-light) * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, var(--c-light)
          calc(var(--glass-reflex-light) * 60%), transparent),
    inset -0.3px -1px 4px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 12%),
        transparent
      ),
    inset -1.5px 2.5px 0px -2px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 20%),
        transparent
      ),
    inset 0px 3px 4px -2px color-mix(in srgb, var(--c-dark)
          calc(var(--glass-reflex-dark) * 20%), transparent),
    inset 2px -6.5px 1px -4px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 1px 5px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 10%),
        transparent
      ),
    0px 6px 16px 0px
      color-mix(
        in srgb,
        var(--c-dark) calc(var(--glass-reflex-dark) * 8%),
        transparent
      );
  transition: background-color 400ms cubic-bezier(1, 0, 0.4, 1),
    box-shadow 400ms cubic-bezier(1, 0, 0.4, 1);

  &:hover,
  &:focus {
    // background-color: theme-color("primary-dark");
    color: #fff;
    outline: none;
  }

  &:disabled,
  &[disabled] {
    // background-color: $color-muted;
    cursor: not-allowed;
    opacity: 0.65;
  }

  .dot {
    background-color: theme-color("white");
    @include size(8px, 8px);
    @include border-radius(100px);
    margin-right: 10px;
    display: inline-block;
    position: relative;
    bottom: 2px;
  }
}

// Variants

.button-secondary {
  @include button-style(
    theme-color("secondary"),
    $text-color: theme-color("dark")
  );
  border: 1px solid theme-color("secondary");

  &:hover,
  &:focus {
    background-color: theme-color("secondary-dark");
    color: #fff;
  }
}

.button-outline {
  background-color: transparent;
  color: theme-color("primary");
  border: 2px solid theme-color("primary");

  &:hover,
  &:focus {
    background-color: theme-color("primary");
    color: #fff;
  }
}

// Sizes

.button-sm {
  font-size: 0.875rem;
  padding: spacer(1) spacer(2);
}

.button-lg {
  font-size: 1.25rem;
  padding: spacer(3) spacer(4);
}
