.about--section {
    padding: em(130px) 0;
    margin: 0;
    width: 100%;
    position: relative;
    display: block;

    .about--paragraph {
        margin-top: em(45px);
        h4 {
            font-size: em(25px);
            font-weight: 700;
            font-family: var(--font-regular);
            font-style: normal;
            text-align: left;
            position: relative;
            color: var(--white-color);
            display: block;
            margin-bottom: em(15px);
        }

        p {
            font-size: em(16px);
            font-family: var(--font-slack);
            font-weight: 400;
            font-style: normal;
            position: relative;
            text-align: left;
            display: block;
            margin-bottom: 20px;
            color: #ddd;
        }
    }
}
